.chat-room-content-footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-main);

    .preview-img {
        position: absolute;
        top: -60px;
        right: 50px;
        width: 60px;
        height: 60px;
    }

    .img-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .ic-close-img {
        position: absolute;
        top: -7px;
        right: -7px;
        cursor: pointer;
    }

    .footer-input {
        position: relative;
        width: 95%;
        height: 35px;
        background-color: var(--hover);
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-radius: 20px;
        // overflow: hidden;
    }

    input {
        background-color: transparent;
        width: 100%;
        height: 100%;
        margin-right: 15px;
        caret-color: var(--color);
        color: var(--color);

        &::placeholder {
            color: var(--color);
        }
    }

    .ic {
        margin-left: 5px;
    }

    .ic-up-img {
        cursor: pointer;
        font-size: 2rem;
        color: var(--color-secondary);
    }

    .ic-emoji {
        cursor: pointer;
        font-size: 2rem;
        color: var(--color-secondary);
    }

    .send {
        background-color: transparent;
        width: 30px;
    }
    .ic-send {
        color: var(--color);
        font-size: 2rem;
    }
}

.ant-message-info {
    display: flex;
    align-items: center;
}
