.chat-room-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid var(--border);
    position: relative;

    .avatar {
        display: flex;
        align-items: center;

        .detail {
            display: flex;
            flex-direction: column;
        }

        span:nth-child(1) {
            font-size: 1.6rem;
            font-weight: bold;
        }

        span:nth-child(2) {
            font-size: 1.4rem;
            color: var(--color);
            font-weight: 400;
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ic-user-add {
        font-size: 25px;
        margin-right: 10px;
        color: var(--color);
        cursor: pointer;
    }
}

.user-list-item.more {
    border: 1px solid var(--border);
    background-color: var(--hover);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    .more-users {
        width: 200px;
        max-height: 300px;
        position: absolute;
        top: 150%;
        right: 0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        background-color: var(--hover);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        opacity: 0;
        overflow: overlay;
        transition: all 0.3s ease-in-out;

        span {
            margin-left: 10px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            overflow: hidden;
        }

        .user-list-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &:hover {
                background-color: var(--hover-secondary);
                border-radius: 5px;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: 20px;
    }

    &:hover .more-users,
    .more-users.active {
        opacity: 1;
        visibility: visible;
    }
}

.avatar {
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 20px;
    }
}

.user-list {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: unset;
    padding-left: unset;

    li {
        margin-left: 5px;
        cursor: pointer;
    }
}

.user-list-item.more .more-users span {
    margin-left: unset;
}

.ant-popover {
    display: none;
}

.ic-info-room {
    display: none;
}

.drawer-room {
    background-color: var(--bg-main);
}

.ant-drawer-title,
.anticon-close {
    color: var(--color);
}

.header-menu {
    font-size: 2.2rem;
    display: none;
    align-items: center;
}
