.chat-room {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--bg-main);
    color: var(--color);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;

    .modal-add-room {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: #00000087;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.3s ease-in-out;
    }
}

.modal-add-room {
    &.hide {
        // display: none;
        top: 100%;
    }

    .content {
        width: 40%;
        height: 70%;
        background-color: var(--hover);
        color: var(--color);
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }

    .ic-close {
        position: absolute;
        color: var(--color);
        top: 10px;
        right: 10px;
        font-size: 2rem;
        cursor: pointer;
    }

    .title {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        font-weight: bold;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .form {
            height: 100%;
        }
    }
}

.formInput {
    position: relative;
    margin-bottom: 20px;

    label {
        color: var(--color);
        opacity: 0.5;
        position: absolute;
        font-size: 1.5rem;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
        z-index: 0;
        pointer-events: none;
    }

    input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        padding: 0 10px;
        font-size: 1.5rem;
        background-color: #ffffff95;
        z-index: 1;
    }

    input:focus {
        border-color: #86b7fe;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);

        ~ label {
            opacity: 0.8;
            left: 0;
            top: -10%;
            transform: scale(0.7);
        }
    }
}

.submit {
    display: flex;
    justify-content: flex-end;

    .btn-submit {
        height: 40px;
        min-width: 50px;
        font-size: 1.4rem;
    }

    .btn-submit:nth-child(1) {
        margin-right: 10px;
    }
}

.chat-room-section {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 5px;
    border-right: 1px solid var(--border);

    .chat-room-section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 70px;
    }

    .chat-room-list-item.avatar {
        &:hover {
            background-color: unset;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .theme-toggle {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ic-theme {
        font-size: 20px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        margin-bottom: 30px;
    }

    .chat-room-section-body {
        height: calc(100% - 70px);
        display: flex;
        flex-direction: column;
    }

    .chat-room-search-content {
        padding-bottom: 20px;
        padding: 0 10px 20px;
        border-bottom: 1px solid var(--border);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .chat-room-search {
        display: flex;
        align-items: center;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        border-radius: 20px;
        background-color: var(--hover);
        border: 1px solid var(--border);
        overflow: hidden;
    }

    .ic-search {
        cursor: pointer;
    }

    .chat-room-search input {
        width: 100%;
        margin-left: 10px;
        background-color: transparent;
        caret-color: var(--color);
        color: var(--color);

        &::placeholder {
            color: var(--color);
        }
    }

    .chat-room-list {
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow-y: overlay;
        padding: 5px;
    }

    .chat-room-list-item {
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--hover);
        }

        &.active {
            background-color: var(--hover);
        }
    }

    .chat-room-list-item-avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .chat-room-list-item-name {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        overflow: hidden;
    }

    .add-new-room {
        background-color: transparent;
        color: var(--color);
        height: 40px;
        border: 1px solid var(--border);
        border-bottom: unset;

        i {
            margin-right: 10px;
        }
    }

    .log-out {
        background-color: transparent;
        color: var(--color);
        height: 40px;
        border: 1px solid var(--border);
    }
}

.chat-room-content {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0;
}
