.chat-room-content-body {
    height: 100%;
    overflow-y: overlay;

    .mess {
        display: flex;
        margin-top: 15px;

        &.me {
            justify-content: end;

            img,
            .name,
            .messImg {
                display: none;
            }

            .mess-text {
                background-color: var(--hover);
                color: var(--color);
            }

            .text {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    img {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .detail {
        display: flex;
        flex-direction: column;
    }

    .name {
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--color);
    }

    .time {
        font-size: 1.2rem;
        color: var(--color);
    }

    .mess-content {
        max-width: 40%;
    }

    .mess-text {
        color: #e1e1e1;
        margin: unset;
        background-color: #0084ff;
        padding: 10px;
        border-radius: 10px;
        width: fit-content;
    }
}
