@media only screen and (max-width: 736px) {
    .chat-room {
        .chat-room-section,
        .info-room,
        .chat-room-content-header .header-right {
            display: none;
        }

        .ic-info-room {
            display: block;
        }

        .menu .content .chat-room-section {
            display: flex;
            width: 100%;
            border-right: unset;
        }

        .header-menu,
        .mb-header {
            display: flex;

            .avatar,
            .ic-info-room {
                display: none;
            }
        }

        .chat-room-content-header {
            width: 100%;
        }

        .ant-alert-content .ant-alert-message {
            font-size: 1.4rem;
        }
    }

    .info-room {
        width: 100% !important;
        border-left: unset !important;
    }

    .list .item,
    .title {
        color: var(--color);
    }

    .ic-user-add {
        font-size: 2.7rem;
    }

    .new-member-mb {
        display: flex !important;
        align-items: center;
        color: var(--color);
        border-top: 1px solid var(--border);

        span {
            margin-left: 10px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .modal-add-room .content {
        width: 80% !important;
    }
}

@media only screen and (max-height: 500px) {
    .info-room {
        .avatar img,
        .ant-avatar-lg {
            width: 50px !important;
            height: 50px !important;
        }
    }
}
